<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neoba.syncpad"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.neoba.syncpad.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.neoba.syncpad.permission.C2D_MESSAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.SyncPadLollipop" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity android:name="com.facebook.LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
             android:theme="@style/Theme.SyncPadImageHeaderLollipop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FbLogin"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".OfflineSyncService"
            android:icon="@drawable/ic_launcher"
            android:label="HeavyWater" >
        </service>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.neoba.syncpad" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmMessageHandler" />

        <activity
            android:name=".Signup"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SuggestedUsers"
            android:label="@string/title_activity_suggested_users"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotesList"
            android:label="@string/title_activity_front" >
        </activity>
        <activity
            android:name=".NotesEditor"
            android:label="Edit" >
        </activity>
        <activity
            android:name=".NotesViewerActivity"
            android:label="@string/title_activity_notes_viewer" >
        </activity>
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/Theme.SyncPadImageHeaderLollipop" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".DebugActivity"
            android:label="@string/title_activity_debug"
            android:parentActivityName=".NotesList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neoba.syncpad.NotesList" />
        </activity>
        <activity
            android:name=".ShareListActivity"
            android:label="@string/title_activity_share_list"
            android:theme="@style/Theme.SyncPadDialog" >
        </activity>
        <activity
            android:name=".List2"
            android:label="@string/title_activity_list2" >
        </activity>
        <activity
            android:name=".VitalsActivity"
            android:label="@string/title_activity_vitals" 
            android:theme="@style/Theme.SyncPadImageHeaderLollipop" >
        </activity>
    </application>

</manifest>