<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neoba.syncpad"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Syncpad" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity android:name="com.facebook.LoginActivity" />
        <activity
            android:name="com.neoba.syncpad.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.neoba.syncpad.FbLogin"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.neoba.syncpad.OfflineSyncService"
            android:icon="@drawable/ic_launcher"
            android:label="HeavyWater" >
        </service>

        <activity
            android:name="com.neoba.syncpad.Signup"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.neoba.syncpad.SuggestedUsers"
            android:label="@string/title_activity_suggested_users"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.neoba.syncpad.NotesList"
            android:label="@string/title_activity_front" >
        </activity>
        <activity
            android:name="com.neoba.syncpad.NotesEditor"
            android:label="Edit" >
        </activity>
        <activity
            android:name="com.neoba.syncpad.NotesViewerActivity"
            android:label="@string/title_activity_notes_viewer" >
        </activity>
        <activity
            android:name="com.neoba.syncpad.UserActivity"
            android:label="@string/title_activity_user" >
        </activity>

    </application>

</manifest>